@import play.i18n._
@()

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <input type="hidden" id="personIdHidden" name="personIdHidden"/>
        <input type="hidden" id="personNameHidden" name="personNameHidden"/>

        <button class="btn btn-primary btn-md button-create" style="margin-bottom:10px;" id="btnNewTask">
            <i class="fa fa-plus"></i>
            @Messages.get("api.button.create")
        </button>
        <br/>
        <table id="tblTask" class="table table-striped table-bordered" width="100%" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>TITUTO</th>
                <th>DESCRIPCION</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<textarea id="gridButtonsTask" style="display: none;">
    <div class="btn-group" data-row="{data}">
        <button class="btn btn-warning btn-xs button-edit" data-action="editTask" title="Modificar"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs button-delete" data-action="deleteTask" title="Eliminar"><i class="fa fa-times"></i></button>
    </div>
</textarea>
<textarea  id="taskFormBody" style="display:none;">@formTaskTwo()</textarea>


<!-- datatable, bootstrap, jquery, bootbox, fontawesome -->