@import play.i18n._
@()

<link rel="stylesheet" href='@routes.Assets.versioned("plugins/css/bootstrap.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("plugins/css/datatables.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("plugins/css/font-awesome.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("plugins/css/libnotify.css")'>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>@Messages.get("api.person.title")</h1>
        <br/>
        <button class="btn btn-primary btn-md button-create" style="margin-bottom:10px;" id="btnNew">
            <i class="fa fa-plus"></i>
            @Messages.get("api.button.create")
        </button>
        <br/>
        <table id="tblPerson" class="table table-striped table-bordered" width="100%" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th>ACCION</th>

            </tr>
            </thead>
        </table>
    </div>
</div>


<textarea id="gridButtonsPerson" style="display: none;">
    <div class="btn-group" data-row="{data}">
        <button class="btn btn-primary btn-xs button-edit" data-action="edit" title="Modificar"><i class="fa fa-sticky-note-o " aria-hidden="true"></i></button>
        <button class="btn btn-warning btn-xs button-edit" data-action="edit" title="Modificar"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs button-delete" data-action="delete" title="Eliminar"><i class="fa fa-times"></i></button>
    </div>
</textarea>
<textarea  id="peopleFormBody" style="display:none;">@formPeople()</textarea>

<script src='@routes.Assets.versioned("plugins/js/jquery-3.2.1.min.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/base64.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/humane.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/bootbox.min.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/bootstrap.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/datatables.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/jquery.validate.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/utils.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/select2.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/select2_locale_es.js")'></script>
<script src='@routes.Assets.versioned("plugins/js/jquery-confirm.js")'></script>
<script src='@routes.Assets.versioned("javascripts/peopleTask.admin.js")'></script>

<!-- datatable, bootstrap, jquery, bootbox, fontawesome -->