@import play.i18n._
@()

@scripts={}

@main("PERSONAS")(scripts){
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>@Messages.get("api.person.title")</h1>
        <br/>
        <button class="btn btn-primary btn-md button-create" style="margin-bottom:10px;" id="btnNew">
            <i class="fa fa-plus"></i>
            @Messages.get("api.button.create")
        </button>
        <br/>
        <table id="tblPerson" class="table table-striped table-bordered" width="100%" border="1">
            <thead>
            <tr>
                <th>@Messages.get("api.table.id")</th>
                <th>@Messages.get("api.table.name")</th>
                <th>@Messages.get("api.table.age")</th>
                <th>@Messages.get("api.table.action")</th>

            </tr>
            </thead>
        </table>
    </div>
</div>


<textarea id="gridButtons" style="display: none;">
    <div class="btn-group" data-row="{data}">
        <button class="btn btn-warning btn-xs button-edit" data-action="edit" title="Modificar"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs button-delete" data-action="delete" title="Eliminar"><i class="fa fa-times"></i></button>
    </div>
</textarea>
<textarea  id="peopleFormBody" style="display:none;">@formPerson()</textarea>

<script src='@routes.Assets.versioned("javascripts/person.admin.js")'></script>
}