@import play.i18n._
@()
@(persona: Persona)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Messages.get("api.people.title")</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("plugins/css/bootstrap.css")'>
    <table align="center">
        <form action="@routes.Prueba.getEditar(persona.getIdPersona())" method="POST" name="frmPersona">
            <tr>
                <td>ID</td>
            </tr>
            <tr>
                <td><input type="text" readonly name="id" id="id" class="form-control" value="@persona.getIdPersona()"></td>
            </tr>

            <tr>
                <td>Nombre: </td>
            </tr>

            <tr>
                <td><input type="text" id="nombre" name="nombre" value="@persona.getNombre()" class="form-control"></td>
            </tr>

            <tr>
                <td>Edad: </td>
            </tr>

            <tr>
                <td><input type="number" name="edad" id="edad" min="18" max="80" value="@persona.getEdad()" class="form-control"> </td>
            </tr>

        <br>
        <table align="center">
            <tr>
                <td><input type="submit" value="Modificar" name="btnInsertar" class="btn btn-default"></td>
                <td><input type="reset" value="Cancelar" name="btnCancelar" class="btn btn-default"></td>
            </tr>
        </table>
        </form>
    </table>
</head>
<body>

</body>
</html>